@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 60px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}
/* Header start */

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  position: relative;
}
.navbar li a:hover,.navbar li a.active{
  color: #088178;
}
.navbar li a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #333;
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navbar li a:hover::after{
  width: 100%;
  right: 0;
}
/* hero image */
#hero{
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-bottom: 15px;
}
#hero h1{
  color: #088178;
}
#hero button{
  background-image: url("img/button.png");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  color: #088178;
}
/* feature section */
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .feature-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  background-color: #fff;
}
#feature .feature-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feature-box img{
  width: 100%;
  background-size: cover;
  margin-bottom: 10px;
}
#feature .feature-box h6{
  display: inline-block;
  padding: 9px 8px 9px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .feature-box:nth-child(2) h6{
  background-color:#cdebbc;
}
#feature .feature-box:nth-child(3) h6{
  background-color:#d1e8f2;
}
#feature .feature-box:nth-child(4) h6{
  background-color:#cdd4f8;
}
#feature .feature-box:nth-child(5) h6{
  background-color:#f6dbf6;
}
#feature .feature-box:nth-child(6) h6{
  background-color:#fff2e5;
}
/* product section */
#product1{
  text-align: center;
}
#product1 .pro-container{
  padding: 20px 60px 0 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .desc{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .desc span{
  color: #088178;
  font-size: 12px;
  font-weight: 400;
}
#product1 .pro .desc h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 500;
}
#product1 .pro .desc i{
  font-size: 12px;
  color: rgb(243,181,25);
}
#product1 .pro .desc h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* banner */
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-position: center;
}
#banner h4{
  color: #fff;
  font-size: 14px;
}
#banner h2{
  color:#fff;
  font-size: 40px;
  padding-top: 7px;

}
#banner h2 span{
  color: #ef3636;
}
#banner button{
  margin-top: 7px;
}

#sm-banner{
  display: flex;
  justify-content: space-between;
}
#sm-banner .sm-banner-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-size: cover;
  min-width: 50%;
  height: 50vh;
  padding: 20px 60px;
  margin:0 5px;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
}
#sm-banner .sm-banner-box1{
  background-image:url("img/banner/b17.jpg");
}
#sm-banner .sm-banner-box2{
  background-image:url("img/banner/b10.jpg");
}
#sm-banner .sm-banner-box h3{
  color: white;
  font-size: 16px;
}
#sm-banner .sm-banner-box h2{
  color: white;
  font-size: 35px;
  padding-top: 5px;
}
#sm-banner .sm-banner-box p{
  color: white;
  margin-top:7px;
}
#sm-banner .sm-banner-box button{
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
#sm-banner .sm-banner-box:hover button{
  background-color: #088178;
}

#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 30px;
}
#banner3 .banner3-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-size: cover;
  width: 33%;
  height: 35vh;
  padding: 0 20px;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
}
#banner3 .banner3-box1{
  background-image: url("img/banner/b7.jpg");
}
#banner3 .banner3-box2{
  background-image: url("img/banner/b4.jpg");
}
#banner3 .banner3-box3{
  background-image: url("img/banner/b18.jpg");
}
#banner3 .banner3-box h2{
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
#banner3 .banner3-box h4{
  color: #ef3636;
  font-size: 12px;
  margin-top: -5px;
}

/* newsletter */
#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("img/banner/b14.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter .newstext h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter .newstext p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter .newstext p span{
  color: #ffbd27;
}

#newsletter .newsletter-email{
  display: flex;
  width: 40%;
}
#newsletter .newsletter-email input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
  outline: none;
}
#newsletter .newsletter-email button{
  background-color: #088178;
  white-space: nowrap;
  color: #fff;
  border-radius: 0 4px 4px 0;
}

/* footer */
#footer-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer-section .contact h5{
  font-size: 15px;
  margin: 20px 0;

}
#footer-section .contact p span{
  font-weight: 800;
  color: black;
}
#footer-section .contact p{
  font-size: 13px;
  margin:10px 0;
  font-weight: 400;
}
#footer-section .social-media h5{
  font-size: 20px;
  margin: 30px 0 10px 0;
}
#footer-section .social-media a{
  text-decoration: none;
}
#footer-section .social-media i{
  margin: 0 4px;
  font-size: 20px;
  color: #000;
}

#footer-section .about h5{
  font-size: 15px;
  margin-bottom: 20px;
}
#footer-section .about a{
  text-decoration: none;
  color: #1a1a1a;
  display:block;
  font-size: 13px;
  padding: 5px 0;
  font-weight: 400;
}
.App-feature h5{
  font-size: 15px;
  margin-bottom: 20px;
}
.App-feature p{
  font-size: 13px;

}
.App-feature .app-link{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.App-feature .app-link a{
  text-decoration: none;
  border: 1px solid #041e42;
  margin-right: 5px;
  border-radius: 5px;
}
.App-feature .app-link img{
  border-radius: 5px;
}

#footer-section .copywrite{
  margin: 20px auto 0 auto;
  text-align: center;
}
#footer-section .copywrite p{
  font-size: 12px;
}